:host {
	display: block;

	padding: 0.25em 1em;
	min-height: 2em;

	border: 1px solid #ccc;

	&.droppable {
		outline: 5px solid red;
	}
}

.column__draggable {
	cursor: move;
}

.column__title {
	font-size: 1em;
	font-weight: bold;

	text-overflow: ellipsis;
	white-space: nowrap;

	overflow: hidden;

	margin: 1em 0;

	a {
		line-height: 1.5em;
		margin: 0 0.25em;
	}
}

.column__description {
	text-align: right;
	font-size: .8em;
	font-weight: normal;
	color: #ccc;
}

.dimmed {
	opacity: .3;
}
