:host {
	display: block;

	padding: 0.25em 1em;
	min-height: 2em;

	border: 1px solid #ccc;

	margin: 1em 0;
}

.task__title {
	margin: 1em 0;

	font-size: 1em;
	font-weight: bold;

	text-overflow: ellipsis;
	white-space: nowrap;

	overflow: hidden;

	a {
		line-height: 1.5em;
		margin: 0 0.25em;
	}
}

.task__description {
	margin: 1em 0.5em;
}
