<div class="c-overlay" data-bind="click: params.close"></div>
<div class="o-modal">
  <div class="c-card">
    <header class="c-card__header">
      <button type="button" class="c-button c-button--close" data-bind="click: params.close">×</button>
      <span class="c-heading">Архів</span>
    </header>
    <div class="c-card__body archive" data-bind="foreach: cards">
      <div class="c-card">
        <div class="c-card__item c-card__item--divider">
          <span data-bind="text: $data.name"></span>
        </div>
        <div class="c-card__item">
          <button type="button" class="c-button c-button--brand c-button--success" data-bind="click: $data.unarchive">Повернути</button>
          <button type="button" class="c-button c-button--brand c-button--error" data-bind="click: $parent.params.deleteCard">Видалити</button>
        </div>
      </div>
    </div>
  </div>
</div>