:host {
	display: block;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: rgba(0, 0, 0, .7);
	z-index: 100;
}


.task-update__form {
	background: #ccc;
	margin: 2em 2em 0;
	padding: 1em;
}
