:host {
	background: #fff;

	display: flex;
	flex-direction: column;

	height: 100vh;
	max-height: 100vh;

	user-select: none;
}

.kanban__toolbar {
	width: 100%;

	padding: 1em;
}

.kanban__columns {
	flex: 1;

	display: flex;
	flex-direction: row;
}

.kanban__column {
	flex: 1;

	margin: 0 1em;
}

.kanban__no-columns {
	text-align: center;
	padding: 2em;
	flex: 1;
}
