include ../../../bower_components/bemto/bemto

doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    block title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block link
      link(rel="stylesheet", href="assets/css/main.css")
  body.u-bg-gradient#js-body
    +b.o-wrapper
      include ../partials/_header

      block content

      include ../partials/_footer
    block scripts
      script(src="assets/js/main.js")
