.card .controls {
  display: none; }

.card:hover .controls {
  display: block; }

.card .search-selection {
  color: #f44336;
  background: #ffeb3b; }

.card .move-card {
  margin-top: .5em;
  display: flex;
  justify-content: center; }
