/* reset */
$min-width: 320px; 
$max-width: 1920px; 
$base-bg: #FFF; 
$base-font-size: 13px; 
$base-line-height: 18px; 
$base-font-family: 'Geometria', sans-serif; 
$custom-font-family: 'Geometria', sans-serif; 
$link-color: #c5d5e6;
$default-transition:all 0.3s linear;

/* main variables */

//text, titles
$text-color: #fff;
$title-color: #fff;
$title-font-family: $custom-font-family;

$font-size-h1: 64px;
$line-height-h1: 70px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;