/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 0px;
$facebook-offset-x: 0px;
$facebook-offset-y: 0px;
$facebook-width: 64px;
$facebook-height: 64px;
$facebook-total-width: 192px;
$facebook-total-height: 128px;
$facebook-image: 'sprite.png';
$facebook: (0px, 0px, 0px, 0px, 64px, 64px, 192px, 128px, 'sprite.png', 'facebook', );
$google-plus-name: 'google-plus';
$google-plus-x: 64px;
$google-plus-y: 0px;
$google-plus-offset-x: -64px;
$google-plus-offset-y: 0px;
$google-plus-width: 64px;
$google-plus-height: 64px;
$google-plus-total-width: 192px;
$google-plus-total-height: 128px;
$google-plus-image: 'sprite.png';
$google-plus: (64px, 0px, -64px, 0px, 64px, 64px, 192px, 128px, 'sprite.png', 'google-plus', );
$instagram-name: 'instagram';
$instagram-x: 0px;
$instagram-y: 64px;
$instagram-offset-x: 0px;
$instagram-offset-y: -64px;
$instagram-width: 64px;
$instagram-height: 64px;
$instagram-total-width: 192px;
$instagram-total-height: 128px;
$instagram-image: 'sprite.png';
$instagram: (0px, 64px, 0px, -64px, 64px, 64px, 192px, 128px, 'sprite.png', 'instagram', );
$linkedin-name: 'linkedin';
$linkedin-x: 64px;
$linkedin-y: 64px;
$linkedin-offset-x: -64px;
$linkedin-offset-y: -64px;
$linkedin-width: 64px;
$linkedin-height: 64px;
$linkedin-total-width: 192px;
$linkedin-total-height: 128px;
$linkedin-image: 'sprite.png';
$linkedin: (64px, 64px, -64px, -64px, 64px, 64px, 192px, 128px, 'sprite.png', 'linkedin', );
$twitter-name: 'twitter';
$twitter-x: 128px;
$twitter-y: 0px;
$twitter-offset-x: -128px;
$twitter-offset-y: 0px;
$twitter-width: 64px;
$twitter-height: 64px;
$twitter-total-width: 192px;
$twitter-total-height: 128px;
$twitter-image: 'sprite.png';
$twitter: (128px, 0px, -128px, 0px, 64px, 64px, 192px, 128px, 'sprite.png', 'twitter', );
$spritesheet-width: 192px;
$spritesheet-height: 128px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($facebook, $google-plus, $instagram, $linkedin, $twitter, );
$spritesheet: (192px, 128px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/pngsprite/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
