@import "reset";
@import "inc/font_awesome";
@import "vars";
@import "inc/slick";


/*------------------ General styles ------------------*/
*,
*:before,
*:after {
	@include box-sizing(border-box);
}

body {
	position: relative;
	overflow-x: hidden;
	font: 16px $font;
	color: $main-color;
}
.container {
	max-width: $container;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	&.nopad{
		padding: 0;
	}
}

.flex {
	@include d-flex;
	@include flex-wrap(wrap);
	@include justify-content(center);
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

h1 {
	margin-bottom: .75em;
	font-size: 72px;
	font-weight: 700;
}

h2 {
	margin-bottom: .75em;
	font-size: 32px;
	font-weight: 700;
}

h3 {
	margin-bottom: 1em;
	font-size: 21px;
	font-weight: 700;
}

h4 {
	margin-bottom: 1em;
	font-weight: 400;
	font-size: 16px;
}

h5 {
	margin-bottom: 1em;
	font-weight: 400;
	font-size: 14px;
}

p {
	margin-bottom: 2.4em;
	font: 400 16px $font;
	line-height: 15px;
	letter-spacing: 1.9px;
	color: $text_color;
	a{
		color: $main_color;
	}
	b,strong{
		font-family: $font;
		font-family: $font_bold;
		letter-spacing: 2.4px;
	}
}
span{
	font: 400 12px $font;
	line-height: 15px;
	letter-spacing: 1.9px;
}

a {
	@include transition(all .25s);
	text-decoration: none;
	transition: all .3s;
	& > *{
		transition: all .3s;
	}
	&.black{
		color: #000;
		&:hover{
			color: $hover_color;
		}
	}

	&:hover,
	&:focus {
	}
}

ul {
	margin-bottom: 1em;
	list-style: none;
}

li {
	margin-bottom: 1em;
}

b,
strong {
	font-weight: 400;
}

hr {
	height: 1px;
	margin: 1.3em auto;
	border: none;
	background: #DDD;
}

/*------- buttons -------*/
.btn {
	display: inline-block;
	padding: 12px 22px 15px;
	position: relative;
	font: 700 26px/30px $font;
	color: #7daf15;
	text-align: center;
	border: 3px solid #7daf15;
	outline: none;
	@include transition(all .25s);
	cursor: pointer;
	@media (max-width: 640px){
		padding: 8px 15px 8px;
		font-size: 22px;
	}
	&:hover,
	&:active{
		background: #7daf15;
		color: #fff;
	}
}


/*------- form elements -------*/
/* Input Styling */
[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week]{
	font: 400 12px $font;
	line-height: 16px;
	letter-spacing: 2.4px;
	outline: none;
	box-shadow: none;
	border: 1px solid rgba(51,50,51,.5);
	line-height: 15px;
	padding: 6px 8px;
	width: 100%;
}
textarea,
select {
	display: block;
	width: 100%;
	padding: 12px 22px;
	outline: none;
	background: none;
	font: 400 14px $font;
	color: #000;
	outline:none;
}

textarea {
	height: 167px;
	background: #FFF;
	border: none;
	resize: none;
	padding: 15px;
}

@include placeholder("input", "textarea"){
	color: #000;
}

.text-center{
	text-align: center;
}
.small-text-center{
	@media (max-width: 640px){
		text-align: center;
	}
}







/*------- logo -------*/


/*------------------ Header ------------------*/
.header {
	// position: absolute;
	background: $grey;
	position: relative;
	padding: 41px 0 36px;
	&.markets{
		background: $light_green;
	}
	@media (max-width: 640px){
		padding: 48px 0 30px;
	}
	&__logo{
		float: left;
	}
	&__location{
		float: left;
		position: relative;
		min-height: 15px;
		max-width: 100px;
		width: 100%;
		margin: 8px 0 0 50px;
		z-index: 100;
		@media (max-width: 440px){
			margin-left: 17px;
			width: auto;
		}
		ul{
			list-style: none;
			position: absolute;
			top: 0;
			left: 0;
		}
		li{
			display: none;
			min-width: 75px;
			&.current_location{
				display: block;
				a{
					display: inline-block;
					padding-right: 15px;
					position: relative;
					&:before{
						position: absolute;
						content: "";
						top: 7px;
						right: -2px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 4px 4px 0 6px;
						border-color: #fff transparent transparent transparent;
					}
				}
			}
			&:hover:not(.current_location){
				a{
					text-decoration: underline;
				}
			}
			a{
				color: #FFF;
				font-size: 16px;
				font-family: $font_bold;
			}
		}
		&:hover{
			li{
				display: block;
			}
		}
	}
	/*------- navigation -------*/
	.hamburger_icon{
		width: 44px;
		height: 44px;
		position: relative;
		cursor: pointer;
		display: inline-block;
		outline:none;
		z-index: 99;
		cursor: pointer;
		background: #363636;
		float: right;
		border-radius: 50%;
		top: -7px;
		@media (min-width: 768px){display: none;}
		span{
			position: absolute;
			left: 0;right: 0;
			width: 16px;
			margin: 0 auto;
			background: #fff;
			height: 2px;
			transition: all .4s;
			&:first-child{
				top: 17px;
			}
			&:nth-child(2){
				top: 22px;
			}
			&:last-child{
				top: 27px;
			}
		}
		&:after{
			top: 13px;
		}
		&.active_icon{
			span{
				&:first-child{
					transform: rotate(-45deg);
					top: 50%;
				}
				&:nth-child(2){
					width: 0;
				}
				&:last-child{
					transform:rotate(45deg);
					top: 50%;
				}
			}
		}
	}
	nav{
		position: relative;
		float: right;
		@media (max-width: 767px){
			float: none;
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			height: 100%;
		}
	}
	&__menu{
		margin-bottom: 0;
		font-size: 0;
		transition: all .3s;
		@media (min-width: 768px){
			display: block !important;
		}
		@media (max-width: 767px){
			position: absolute;
			top: 50px;
			right: 0;
			width: 100%;
			z-index: 10;
			background: $grey;
			overflow: hidden;
			display: none;
			transition: none;
		}

		li{
			display: inline-block;
			padding: 5px 24px;
			@media (max-width: 900px){
				padding: 5px 15px;
			}
			@media (max-width: 767px){
				display: block;
				padding: 0;
			}
			a{
				display: inline-block;
				color: #FFF;
				font-size: 16px;
				font-family: $font;
				letter-spacing: .6px;
				position: relative;
				@media (max-width: 767px){
					padding-left: 15px;
					padding-right: 15px;
				}
				&:before{
					position: absolute;
					content: "";
					top: 100%;
					left: 0;right: 0;
					width: 0;
					margin: 0 auto;
					transition: all .4s;
					background: #FFF;
					height: 1px;
				}
				&:hover{
					&:before{
						width: 100%;
					}
				}
				@media (max-width: 767px){
					padding: 15px;
					display: block;
					&:hover{
						background: $main_color;
					}
				}
			}
			&.active{
				a{
					@media (max-width: 767px){
						background: $main_color;
					}
				}
			}
		}
	}
}




@include placeholder(".search__input"){
	color: #999;
}



/*------------------ General styles ------------------*/
.section{
	position: relative;
	&__column{
		padding: 37px 15px 45px;
		float: left;
		&--25{
			width: 25%;
		}
		&--33{
			width: calc(100% / 12 * 4);
		}
		&--41{
			width: calc(100% / 12 * 5);
		}
		&--50{
			width: 50%;
		}
		&--75{
			width: 75%;
		}
	}
}
.section__title{
	font:700 42px/32px $font_bold;
	margin-bottom: 15px;
	color: $title_color;
	letter-spacing: -.8px;
	&.white{
		color: #fff;
	}
	@media (max-width: 640px){
		font-size: 28px;
	}
}
.section__caption{
	max-width: 500px;
	margin: 0 auto;
	p{
		font: 400 16px/20px $font;
		letter-spacing: .35px;
		color: $title_color;
		margin-bottom: 0;
	}
	&.white{
		p{
			color: #FFF;
		}
	}
}




.banner{
	padding-bottom: 36px;
	&__slider{
		.container{
			height: inherit;
		}
		&--nav{
			margin-top: 50px;
		}
		&--allmarkets{
			display: inline-block;
			font-family: $font_bold;
			color: #556fa6;
			margin-top: 30px;
			font-size: 20px;
			&:hover{
				color: $main_color;
			}
		}
	}
	&__slide{
		height: 655px;
		background-size: cover;
		background-position: 50%;
		outline:none;
		@media (max-width: 640px){
			height: 560px;
		}
	}
	&__caption{
		position: absolute;
		left: 15px;
		bottom: 60px;
		@media (max-width: 640px){
			bottom: 2px;
		}
	}
	&--date{
		margin-bottom: 15px;
	}
	&--date,
	&--title,
	&--subtitle{
		color: #FFF;
		font-size: 56px;
		@media (max-width: 640px){
			font-size: 28px;
		}
		@media(max-width: 480px){
			font-size: 24px;
		}
		strong{
			font-family: $font_bold;
		}
		span{
			background: $main_color;
			font-size: inherit;
			display: inline-block;
			padding: 3px 15px;
			line-height: 1.2;
			@media (max-width: 640px){
				padding: 3px 10px;
			}
		}
	}
	&--title{
		margin-top: 41px;
		margin-bottom: 3px;
		@media (max-width: 640px){
			margin-top: 20px;
		}
	}
	&--subtitle{
		margin-bottom: 39px;
		font-size: 36px;
		font-weight: normal;
		padding-top: 2px;
		padding-bottom: 2px;
		span{
			line-height: 1.4;
		}
		@media (max-width: 640px){
			font-size: 18px;
		}
	}
	&--link{
		border: 3px solid $main_color;
		color: $main_color;
		padding: 13px 24px;
		display: inline-block;
		font-size: 26px;
		font-family: $font_bold;
		&:hover{
			background: $main_color;
			color: #FFF;
		}
		@media (max-width: 640px){
			display: none;
		}
	}


	&__navblock{
		outline:none;
		cursor: pointer;
		a{
			outline:none;
		}
		&--date{
			font-size: 26px;
			letter-spacing: .5px;
			display: block;
			line-height: 1.6;
			color: $title_color;
			position: relative;
			margin-bottom: 20px;
			padding-bottom: 12px;
			strong{
				font-family: $font_bold;
			}
			&:before{
				position: absolute;
				content: "";
				bottom: 0;
				left: 0;right: 0;
				height: 1px;
				background: #000;
				width: 100%;
			}
			.dott{
				width: 7px;
				height: 7px;
				position: absolute;
				content: "";
				bottom: -3px;
				left: 0;
				border: 2px solid #000;
				border-radius: 50%;
				background: #fff;
			}
		}
		&--title{
			color: $title_color;
			font-family: $font_bold;
			font-size: 26px;
			line-height: 28px;
			margin-bottom: 10px;
			letter-spacing: -.8px;
			max-width: 200px;
			@media (max-width: 640px){
				font-size: 20px;
			}
			a{
				color: inherit;
			}
		}
		&--cat{
			display: inline-block;
			color: $light_grey;
			font-size: 16px;
		}
		&.slick-current{
			.banner__navblock--date .dott{
				background: #000;
				width: 11px;
				height: 11px;
				bottom: -6px;
			}
		}
	}

	&__static{
		.banner--date span,
		.banner--title span,
		.banner--subtitle span{
			background: #7DAF15;
		}
		.banner--subtitle{
			margin-bottom: 0;
		}
	}

	&__content{
		padding: 15px 0 0;
		&--info{
			.info_list{
				list-style: none;
				column-count: 2;
				max-width: 790px;
				margin: 20px auto 15px;
				@media (max-width: 810px){
					column-count: 1;
				}
				li{
					font-size: 0;
					margin-bottom: 15px;
					span{
						display: inline-block;
						width: calc(100% - 200px);
						font-family: $font_bold;
						color: $title_color;
						font-size: 22px;
						line-height: 1.6;
						@media(max-width: 440px){
							font-size: 18px;
							width: calc(100% - 170px);
						}
						@media(max-width: 380px){
							width: 100%;
							font-size: 16px;
						}
						&.info_title{
							font-weight: normal;
							width: 200px;
							@media(max-width: 440px){
								width: 170px;
							}
							@media(max-width: 380px){
								width: 100%;
							}
						}
					}
				}
			}
		}
		.cta{
			text-align: center;
			font-size: 0;
			margin-top: 18px;
				a{
					background: #F6F7F9;
					color: $title_color;
					font-size: 12px;
					border: 1px solid #ced0d4;
					display: inline-block;
					padding: 7px 10px;
					&:hover{
						background: #CED0D4;
					}
					& + a{
						border-left: none;
					}
					&:first-child{
						border-radius: 5px 0 0 5px;
					}
					&:last-child{
						border-radius: 0 5px 5px 0;
					}
				}
			}
			p{
				font-size: 22px;
				color: $light_grey;
				margin-bottom: 46px;
				letter-spacing: .3px;
				line-height: 1.8;
			}
	}
}

.photo_slider{
	margin-bottom: 35px;
}
.photo__slide{
	flex: 1 1 calc(33.33% - 10px);
	margin: 5px;
	outline:none;
	@media (max-width: 767px){
		flex: 1 1 calc(50% - 10px);
	}
	@media (max-width: 480px){
		flex: 1 1 calc(100% - 10px);
	}
	a{
		outline:none;
	}
}

.food{
	&__container{

	}
	&__block{
		margin-bottom: 50px;
		.food-content{
			float: left;
			width: 60%;
			padding-right: 20px;
			h3{
				color: $title_color;
				margin-bottom: 10px;
				font-size: 42px;
				font-family: $font_bold;
				@media (max-width: 480px){
					font-size: 30px;
				}
			}
			p{
				margin-bottom: 0;
				color: $light_grey;
				line-height: 1.6;
				letter-spacing: 0.1px;
			}
		}
		.food-image{
			float: left;
			width: 40%;
			img{
				width: 100%;
			}
		}
		&:nth-child(even){
			.food-content{
				float: right;
				padding-right: 0;
				padding-left: 20px;
			}
			.food-image{
				float: right;
			}
		}
	}
}



.grid{
	width: 100%;
	&__item{
		color: #FFF;
		font-size: 24px;
		display: flex;
		flex: 1 1 calc(33.33% - 20px);
		justify-content: center;
		align-items: center;
		margin: 0 10px 20px;
		padding: 5px;
		outline:none;
		@media (max-width: 900px){
			flex: 1 1 calc(50% - 20px);
		}
		@media (max-width: 640px){
			margin: 5px;
			padding: 0;
		}
		a{
			outline:none;
		}
		&--img{
			margin-bottom: 29px;
			display: block;
			img{
				width: 100%;
				display: block;
			}
		}
		&--title{
			color: #000;
			font-family: $font_bold;
			font-size: 26px;
			line-height: 20px;
			margin-bottom: 10px;
			letter-spacing: -.8px;
			@media (max-width: 640px){
				font-size: 20px;
				line-height: 1.4;
			}
			a{
				color: inherit;
			}
		}
		&--cat{
			display: inline-block;
			color: $light_grey;
			font-size: 16px;
		}
		&--info{
			a{
				font-size: 16px;
				color: $light_grey;
				& + a{
					margin-left: 10px;
				}
			}
		}
	}
}


/*------------------ Main content ------------------*/




/*------------------ Recent markets content ------------------*/
.recent_markets{
	padding: 40px 0 48px;
	.grid{
		margin-top: 11px;
		margin-left: -10px;
		margin-right: -10px;
		width: calc(100% + 20px);
		@media (max-width: 640px){
			margin-left: -5px;
			margin-right: -5px;
			width: calc(100% + 10px);
		}
		&__item{
			&--img{
				position: relative;
				overflow: hidden;
				&:before{
					left: 100%;
				}
				&:after{
					right: 100%;
				}
				&:before,
				&:after{
					position: absolute;
					content: "";
					background: rgba(0,0,0,.1);
					top: 0;bottom: 0;
					transition: all .4s;
					width: 100%;
					visibility: hidden;
				}
				&:hover{
					&:before{
						left: 0;
						visibility: visible;
					}
					&:after{
						right: 0;
						visibility: visible;
					}
				}
			}
			&--title,
			&--info{
				a{
					&:hover{
						color: $main_color;
					}
				}
			}
			&--cat{
				&:hover{
					color: $main_color;
				}
			}
		}
	}
}




/*------------------ subscribe content ------------------*/
.subscribe{
	padding: 40px 0;
	background: $brown;
	color: #FFF;
	&--form{
		max-width: 360px;
		margin: 24px auto 0;
		position: relative;
	}
	&--input{
		padding: 5px 120px 5px 29px;
		line-height: 72px;
		height: 72px;
		font-size: 18px;
		text-transform: lowercase;
		border: none;
	}
	&--btn{
		min-width: 87px;
		position: absolute;
		top: 0;
		right: 0;
		line-height: 70px;
		background: #252525;
		border: none;
		outline:none;
		color: #FFF;
		font-size: 18px;
		cursor: pointer;
		&:hover{
			background: $light_green;
		}
	}
}


/*------------------ video ------------------*/
.video_section{
	padding: 40px 0 80px;
	&--block{
		margin-top: 25px;
		a{
			display: block;
			position: relative;
			width: 160px;
			height: 160px;
			position: absolute;
			background: #FFF;
			border-radius: 50%;
			margin: 0 auto;
			top: 50%;
			transform:translateY(-50%);
			left: 0;right: 0;
			text-align: center;
			@media (max-width: 991px){
				width: 130px;
				height: 130px;
			}
			@media (max-width: 767px){
				width: 100px;
				height: 100px;
			}
			@media (max-width: 640px){
				width: 80px;
				height: 80px;
			}
			@media (max-width: 480px){
				width: 65px;
				height: 65px;
			}
			.fa{
				position: absolute;
				top: 50%;
				transform:translateY(-50%) translateX(10px);
				left: 0;right: 0;
				font-size: 77px;
				color: $title_color;
				transition: all .4s;
				@media (max-width: 991px){
					font-size: 60px;
				}
				@media (max-width: 767px){
					font-size: 50px;
					transform:translateY(-50%);
				}
				@media (max-width: 640px){
					font-size: 35px;
				}
				@media (max-width: 480px){
					font-size: 28px;
				}
			}
			&:hover{
				background: $title_color;
				.fa{
					color: #FFF;
				}
			}
		}
		img{
			display: block;
			width: 100%;
		}
	}
}



/*------------------ reguest form ------------------*/
.reguest__form{
	padding: 80px 0 0;
	&--block{
		max-width: 370px;
		margin: 0 auto;
		color: $title_color;
	}
	&--title{
		font: 700 28px/30px $font_bold;
		margin-bottom: 6px;
		margin-top: 31px;
	}
	&--subtitle{
		color: $light_grey;
		font-size: 22px;
		line-height: 1.4;
		letter-spacing: .1px;
	}
	form{
		margin-top: 28px;
		input{
			margin-bottom: 10px;
			border-width: 0 0 1px 0;
			border-color: $light_grey;
			padding-left: 0;
			font-size: 22px;
			letter-spacing: .1px;
			line-height: 1.2;
			margin-bottom: 38px;
		}
	}
	&--btn{
		width: 100%;
		background: #7DAF15;
		color: #fff;
		font: 700 30px/32px $font_bold;
		display: block;
		padding: 30px 15px;
		border: none;
		outline:none;
		cursor: pointer;
		transition: all .4s;
		&:hover{
			background: $main_color;
		}
	}
}




/*------------------ —Åontacts ------------------*/
.contacts{
	padding: 75px 0 25px;
	&--address{
		font-size: 26px;
		font-family: $font_bold;
		color: $title_color;
		margin-bottom: 12px;
		@media (max-width: 640px){
			font-size: 18px;
		}
		a{
			color: inherit;
		}
	}
	&--mail{
		text-decoration: underline;
		color: $blue;
		font-size: 22px;
		letter-spacing: .4px;
		@media (max-width: 640px){
			font-size: 16px;
		}
	}
	&__socials{
		font-size: 0;
		margin-bottom: 13px;
		&--item{
			list-style: none;
			display: inline-block;
			margin: 5px;
			a{
				width: 32px;
				height: 32px;
				font-size: 25px;
				display: block;
				background: #556FA6;
				color: #fff;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				@media (max-width: 640px){
					font-size: 20px;
				}
				&:hover{
					background: #3D97E6;
				}
			}
		}
	}
}




.map{
	height: 675px;
	@media (max-width: 1024px){
		height: 600px;
	}
	@media (max-width: 767px){
		height: 500px;
	}
	@media (max-width: 640px){
		height: 375px;
	}
	&__buttons{
		a{
			width: 50%;
			float: left;
			padding: 29px 15px;
			position: relative;
			color: #fff;
			background: $orange;
			&:before{
				position: absolute;
				content: "";
				background: inherit;
				top: 0;bottom: 0;
				width: 100%;
				right: 100%;
			}
			&:last-child{
				background: $blue;
				padding-left: 7%;
				&:before{
					right: auto;
					left: 100%;
				}
			}
			span{
				line-height: 1.4;
				letter-spacing: .4px;
				display: block;
			}
			.btn-title{
				font-size: 22px;
				font-family: $font_bold;
			}
			.btn-subtitle{
				font-size: 16px;
			}
		}
	}
}


/*------------------ Footer ------------------*/
.footer {
	padding: 40px 0;
	p{
		font-size: 16px;
		margin-bottom: 0;
		letter-spacing: .1px;
	}
}



