footer.footer#footer
    .container
        .footer__share
            .footer__share-title Розповісти всім:
            .footer__share-list
                a(href="#").footer__share-link.footer__share-link-twitter 
                    +icon('twitter')
                a(href="#").footer__share-link.footer__share-link-fb 
                    +icon('fb')
                a(href="#").footer__share-link.footer__share-link-vk 
                    +icon('vk')
        a(href="#form").footer__form-link.js-show-pop
            img(src="img/form.png" alt="")