meta(charset="utf-8")
title Title
meta(name="viewport", content="width=device-width; initial-scale=1.0")
link(rel="stylesheet", href="css/style.css")
<!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
