doctype html
html
	head
		title UAWCXI
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
		//- inject:css
		//- endinject
	body
		root
			.sk-circle
				.sk-circle1.sk-child
				.sk-circle2.sk-child
				.sk-circle3.sk-child
				.sk-circle4.sk-child
				.sk-circle5.sk-child
				.sk-circle6.sk-child
				.sk-circle7.sk-child
				.sk-circle8.sk-child
				.sk-circle9.sk-child
				.sk-circle10.sk-child
				.sk-circle11.sk-child
				.sk-circle12.sk-child
		//- inject:js
		//- endinject
		script(inline, src='systemjs.config.js')
		script.
			System.import('app');
